:root{
  --font:'Courier New', Courier, monospace;
}


.nav_bar{
  padding: 24px 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1.5);
}

.nav_bar h2{
  color: whitesmoke;
  font-family: var(--font);
}

.nav_bar nav a{
  padding: 0px 20px 0px 0px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: var(--font);
}