:root{
  --font:'Courier New', Courier, monospace;
}


.nav_bar{
  padding: 24px 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_bar h2{
  color: whitesmoke;
  font-family: var(--font);
}

.nav_bar nav a{
  padding: 0px 20px 0px 0px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: var(--font);
}